header {
  .nav {
    border-bottom: 1px solid $gray__blue;
    &__left {
      &--logo {
        img {
          width: auto;
          object-fit: contain;
          height: 1.5rem;
        }
      }
      &--menu {
        ul {
          list-style: none;
          gap: 1rem;
          li {
            a {
              position: relative;
              &:hover {
                &::after {
                  content: "";
                  border-bottom: 3px solid $orange;
                  display: block;
                  position: absolute;
                  top: 46px;
                  left: 0;
                  width: 100%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
      &--button {
        position: relative;
        top: 0;
        &--close {
          position: absolute;
          display: none;
          top: 0;
          z-index: 6;
        }
      }
    }
    &__right {
      &--cart {
        img {
          width: auto;
          height: 1rem;
          object-fit: contain;
        }
        cursor: pointer;
      }
      &--avatar {
        img {
          width: 2.5rem;
          height: 2.5rem;
          object-fit: contain;
        }
      }
    }
    .cartBox {
      top: 2.6rem;
      right: 0;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 1rem;
      background: white;
      width: 400px;
      &__header {
        border-bottom: 1px solid $gray__blue;
        p {
          font-weight: $font__bold;
          color: $very__blue;
        }
      }
      &__body {
        &--empty {
          p {
            color: $dgray_blue;
            font-weight: $font__bold;
          }
        }
        &--notE {
          color: $dgray_blue;
          &--img {
            img {
              width: 3rem;
              height: 3rem;
              object-fit: cover;
              border-radius: 0.5rem;
            }
          }
          &--checkout {
            background-color: $orange;
            color: $white;
            text-align: center;
            border-radius: 0.5rem;
            cursor: pointer;
            user-select: none;
          }
          .deleteB {
            img {
              width: 16px;
              height: auto;
              object-fit: contain;
              cursor: pointer;
            }
          }
          .totalPrice {
            color: $very__blue;
            font-weight: $font__bold;
          }
        }
      }
    }
  }
}
main {
  .main {
    &__card {
      &--image {
        width: 70%;
        margin: auto;
        &--upper {
          padding-bottom: 2rem;
          img {
            height: auto;
            width: 100%;
            object-fit: contain;
            border-radius: 1rem;
            cursor: pointer;
          }
        }
        &--lower {
          img {
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 1rem;
            cursor: pointer;
            &:hover {
              opacity: 80%;
            }
          }
        }
      }
      &--info {
        width: 70%;
        margin: 5rem auto;
        h4 {
          color: $orange;
          font-size: medium;
          font-weight: $font__bold;
          text-transform: uppercase;
        }
        h1 {
          font-weight: $font__bold;
          margin-bottom: 2rem;
        }
        p {
          color: $dgray_blue;
          font-weight: $font__regular;
          margin-bottom: 1rem;
        }
        &--cost {
          .priceN {
            gap: 1rem;
            h3 {
              font-size: 2rem;
              font-weight: $font__bold;
              margin-bottom: 0;
            }
            span {
              font-size: 1rem;
              background-color: $pale__orange;
              color: $orange;
              padding-left: 0.5rem;
              padding-right: 0.5rem;
              font-weight: $font__bold;
            }
          }
          .priceO {
            p {
              color: $dgray_blue;
              text-decoration: line-through;
              font-weight: $font__bold;
            }
          }
        }
        &--end {
          gap: 1rem;
          .counter {
            background-color: $lgray__blue;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .plus,
            .minus {
              cursor: pointer;
            }
          }
          .addCart {
            background-color: $orange;
            color: $white;
            border-radius: 0.5rem;
            cursor: pointer;
            user-select: none;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}

.selectedimg {
  opacity: 0.8;
  border: 3px solid $orange;
}

.cartNotif {
  background-color: $orange;
  color: $white;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(-75%, -25%);
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  p {
    font-size: 0.6rem;
    font-weight: $font__bold;
  }
}
