@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.l_container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}
a:hover {
  color: hsl(220, 13%, 13%);
}

.lock-scroll {
  overflow: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

header .nav {
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
header .nav__left--logo img {
  width: auto;
  object-fit: contain;
  height: 1.5rem;
}
header .nav__left--menu ul {
  list-style: none;
  gap: 1rem;
}
header .nav__left--menu ul li a {
  position: relative;
}
header .nav__left--menu ul li a:hover::after {
  content: "";
  border-bottom: 3px solid hsl(26, 100%, 55%);
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
header .nav__left--button {
  position: relative;
  top: 0;
}
header .nav__left--button--close {
  position: absolute;
  display: none;
  top: 0;
  z-index: 6;
}
header .nav__right--cart {
  cursor: pointer;
}
header .nav__right--cart img {
  width: auto;
  height: 1rem;
  object-fit: contain;
}
header .nav__right--avatar img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}
header .nav .cartBox {
  top: 2.6rem;
  right: 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  background: white;
  width: 400px;
}
header .nav .cartBox__header {
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
header .nav .cartBox__header p {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
header .nav .cartBox__body--empty p {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}
header .nav .cartBox__body--notE {
  color: hsl(219, 9%, 45%);
}
header .nav .cartBox__body--notE--img img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
header .nav .cartBox__body--notE--checkout {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}
header .nav .cartBox__body--notE .deleteB img {
  width: 16px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}
header .nav .cartBox__body--notE .totalPrice {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
}

main .main__card--image {
  width: 70%;
  margin: auto;
}
main .main__card--image--upper {
  padding-bottom: 2rem;
}
main .main__card--image--upper img {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  cursor: pointer;
}
main .main__card--image--lower img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
  cursor: pointer;
}
main .main__card--image--lower img:hover {
  opacity: 80%;
}
main .main__card--info {
  width: 70%;
  margin: 5rem auto;
}
main .main__card--info h4 {
  color: hsl(26, 100%, 55%);
  font-size: medium;
  font-weight: 700;
  text-transform: uppercase;
}
main .main__card--info h1 {
  font-weight: 700;
  margin-bottom: 2rem;
}
main .main__card--info p {
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  margin-bottom: 1rem;
}
main .main__card--info--cost .priceN {
  gap: 1rem;
}
main .main__card--info--cost .priceN h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}
main .main__card--info--cost .priceN span {
  font-size: 1rem;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 700;
}
main .main__card--info--cost .priceO p {
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
  font-weight: 700;
}
main .main__card--info--end {
  gap: 1rem;
}
main .main__card--info--end .counter {
  background-color: hsl(223, 64%, 98%);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .main__card--info--end .counter .plus,
main .main__card--info--end .counter .minus {
  cursor: pointer;
}
main .main__card--info--end .addCart {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  width: 100%;
  text-align: center;
}

.selectedimg {
  opacity: 0.8;
  border: 3px solid hsl(26, 100%, 55%);
}

.cartNotif {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(-75%, -25%);
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}
.cartNotif p {
  font-size: 0.6rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
  header .nav {
    border-bottom: none;
  }
  header .nav .cartBox {
    width: 75%;
  }
  header .nav__left--menu {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    z-index: 5;
    left: -10%;
    top: 0;
    height: 100vh;
    display: none;
  }
  header .nav__left--menu ul {
    flex-direction: column;
    padding-right: 3rem;
    padding-top: 4rem;
  }
  header .nav__left--menu ul li a {
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    position: static;
  }
  header .nav__left--menu ul li a:hover::after {
    content: "";
    border-bottom: none;
  }
}
@media screen and (max-width: 576px) {
  header .nav .cartBox {
    width: 100%;
  }
  main .main__card--image {
    width: 100%;
  }
  main .main__card--info {
    width: 100%;
  }
}
