@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

//colors

$orange: hsl(26, 100%, 55%);
$pale__orange: hsl(25, 100%, 94%);
$very__blue: hsl(220, 13%, 13%);
$dgray_blue:hsl(219, 9%, 45%);
$gray__blue: hsl(220, 14%, 75%);
$lgray__blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 100%);

//font
$font__kumbh: 'Kumbh Sans', sans-serif;
$font__regular: 400;
$font__bold: 700;



